<table class= "table table-striped table-bordered" id="top_stories_1">
	<tr>
		<th id="title_column">Title</th>
		<th>Posted By</th>
		<th>Posted On</th>
	</tr>
	<% @stories_1.each do |child| %>
	<tr>
		<td><%=link_to "#{child["data"]["title"]}",child["data"]["url"],:target => "_blank" %> </td>
		<td><%=link_to "#{child["data"]["author"]}", "http://www.reddit.com/user/#{child["data"]["author"]}",:target => "_blank" %></td>
		<td><%= formatted_time(child["data"]["created_utc"]) %></td>
	</tr>
	<% end %>
</table>
