<h1> Top Stories on Reddit</h1> 
<div class="pagination">
<%= link_to "Sign out", signout_path, :method => :delete ,:style=>"float:right"%>
  <ul>
    <li><a href="javascript:void(0)">1</a></li>
    <li><a href="javascript:void(0)">2</a></li>
    <li><a href="javascript:void(0)">3</a></li>
  </ul>
</div>
<div>
	<%= render :partial => 'top_stories/page_1' %>
	<%= render :partial => 'top_stories/page_2' %>
	<%= render :partial => 'top_stories/page_3' %>
</div>

<div id="imageModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Image</h3>
  </div>
  <div class="modal-body content"></div>
</div>
